.wrapper{
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: white;
  left: 0;
  top: 0;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 5px 0px;
}