.container {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 15px;
  gap: 15px;
  width: 100%;
  height: 600px;
}

@media (max-width: 620px) {
  .container {
    align-items: center;
  }
}